
body {
    font-family: Arial, "Helvetica", sans-serif;
    
    background-color: #4a4a4a; 
    
    color: rgb(33, 33, 33);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 1.5rem; 
    text-align: center;
    background-image: url('bg.jpg'); 
}

#titulo-principal {
    font-size: 3rem; 
    font-weight: bolder; 
    color: orange;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center; 
}

nav li {
    display: inline-block;
    margin: 0 10px; 
}

nav a {
    color: white;
    background-color: #555; 
    padding: 8px 15px; 
    border-radius: 5px; 
    text-decoration: none; 
    
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: orange; 
    color: black; 
}

main {
    width: 80vw;
    margin: 2em auto; 
    opacity: 0.95;
    background-color: white;
    border-radius: 8px; 
}

section {
    padding: 1.5em; 
    margin-bottom: 1cm; 
}

#bio-beny article, #bio-morad article {
    overflow: auto;
}
#bio-beny figure, #bio-morad figure {
    float: right; 
    width: 240px; 
    margin: 0 0 15px 20px; 
}
#bio-beny img, #bio-morad img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

#bio-beny, #bio-morad {
    padding: 1.5em; 
    margin-bottom: 1cm; 
}

figcaption {
    font-size: 0.9em;
    color: #555;
    text-align: center;
    margin-top: 5px;
}

table {
    width: 100%; 
    margin-top: 15px; 
}

th, td {
    border: 1px solid #ccc; 
    padding: 0.75em; 
    text-align: left; 
}

th {
    background-color: #333;
    color: white;
}

video, iframe {
    width: 100%;
    height: auto;
}

#tabla-comparativa figure {
    margin: 0;
    width: 100%;
}

#tabla-comparativa img {
    width: 100%; 
    height: auto;
    border-radius: 8px; 
}

footer {
    text-align: center; 
    padding: 1em; 
    background-color: #333;
    color: #aaa;
    margin-top: 5vh; 
}